* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "DM Serif Display", serif;
}

main {
  position: relative;
  z-index: 1;
}

.sec {
  position: relative;
  z-index: 2;
}

main #canvas-item {
  height: 100vh;
  width: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 0;
}

main #canvas-item::after {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url(../public/background-l.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s linear;
}

main:has(#sec-2 .title-item:hover) #canvas-item::after {
  opacity: 0;
}

.images {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

#sec-1 {
  height: 100vh;
  .line-1 {
    position: absolute;
    width: 33%;
    height: 1px;
    background-color: #ff0000;
    bottom: 30%;
    transform: rotate(43deg);
    left: 12%;
  }
  .line-2 {
    position: absolute;
    width: 10%;
    height: 1px;
    background-color: #ff0000;
    bottom: 30%;
    transform: rotate(-43deg);
    right: 12%;
  }

  h1 {
    color: rgba(255, 255, 255, 0.672);
    line-height: 1.1;
    font-size: 70px;
    font-weight: 600;
    font-family: system-ui, sans-serif;
  }
  .top,
  .bottom {
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .top {
    .left {
      padding-block: 100px;
      width: 50%;
      text-align: end;
    }
    .right {
      width: 50%;
    }
  }
  .bottom {
    .left {
      width: 50%;
      text-align: end;
    }
    .right {
      width: 50%;
      p {
        font-family: system-ui, sans-serif;
        max-width: 246px;
        color: rgba(255, 255, 255, 0.541);
        line-height: 1.4;
        font-weight: 300;
      }
    }
  }
}

#sec-2 {
  padding-block: 120px;
  .container {
    max-width: 1280px;
    padding-inline: 20px;
    margin-inline: auto;
  }
  .titles {
    display: flex;
    flex-direction: column;
  }
  .title-item {
    display: flex;
    gap: 60px;
    opacity: 0.3;
    padding-block: 2rem;
    transition: all 0.3s linear;
    text-decoration: none;
  }

  .title-item:hover {
    opacity: 1;
  }

  .small-title {
    font-family: system-ui, sans-serif;
    color: #ffffff;
    margin-top: 0.6rem;
    font-size: 12px;
    min-width: 100px;
    display: block;
  }
  .title-main {
    font-size: 4.5rem;
    font-family: system-ui, sans-serif;
    font-weight: 100;
    line-height: 1;
    color: #ffffff;
  }
}

#sec-3 {
  height: 100vh;
  z-index: 0;
  .top {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: -1;
    .left,
    .right {
      width: 50%;
    }
    h3 {
      font-family: system-ui, sans-serif;
      color: #ffffff;
      font-size: 38px;
      font-weight: 500;
      opacity: 0.8;
    }
  }
  .bottom {
    display: flex;
    align-items: center;

    .left,
    .right {
      width: 50%;
    }
    p {
      font-family: system-ui, sans-serif;
      color: #ffffff;
      opacity: 0.7;
      font-weight: 200;
    }
  }
  .container {
    padding-inline: 20px;
    margin-inline: auto;
    width: 100%;
    max-width: 890px;
    padding-block: 100px;
    height: 100%;
  }
}

/* hover 1 */
main:has(#sec-2 .title-item[img-title="tommorowland"]:hover) .images #tommorowland {
  opacity: 1;
  background-color: rgba(4, 7, 24);
}

/* hover 2 */
main:has(#sec-2 .title-item[img-title="navy-pier"]:hover) .images #navy-pier {
  opacity: 1;
  background-color: rgba(4, 7, 24);
}

/* hover 3 */
main:has(#sec-2 .title-item[img-title="msi-chicago"]:hover) .images #msi-chicago {
  opacity: 1;
  background-color: rgba(4, 7, 24);
}

/* hover 4 */
main:has(#sec-2 .title-item[img-title="phone"]:hover) .images #phone {
  opacity: 1;
  background-color: rgba(4, 7, 24);
}

/* hover 5 */
main:has(#sec-2 .title-item[img-title="kikk"]:hover) .images #kikk {
  opacity: 1;
  background-color: rgba(1, 15, 92, 0.679);
}

/* hover 6 */
main:has(#sec-2 .title-item[img-title="kennedy"]:hover) .images #kennedy {
  opacity: 1;
  background-color: rgba(4, 7, 24);
}

/* hover 7 */
main:has(#sec-2 .title-item[img-title="opera"]:hover) .images #opera {
  opacity: 1;
  background-color: rgb(176, 4, 4);
}

@media only screen and (max-width: 991.99px) {
  #sec-1 {
    .line-2 {
      display: none;
    }
    h1 {
      color: rgba(255, 255, 255, 0.672);
      line-height: 1.1;
      font-size: 56px;
    }
  }
  #sec-2 {
    .title-main {
      font-size: 41px;
    }
    .title-item {
      gap: 30px;
      padding-block: 14px;
    }
  }
  #sec-3 {
    .top {
      h3 {
        font-family: system-ui, sans-serif;
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }
}

@media only screen and (max-width: 991.99px) {
  #sec-3 {
    .top {
      flex-direction: column;
      .left,
      .right {
        width: 100%;
      }
    }
    .bottom {
      flex-direction: column;
      .left,
      .right {
        width: 100%;
      }
    }
  }
}
